.app {
  height: 100vh;

  display: grid;

  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar viewport"
    "footer footer";
}
