.app {
  height: 100vh;
  display: grid;

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "viewport"
    "footer";

  @include media("lg") {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 58px 1fr;
    grid-template-areas:
      "header header"
      "sidebar viewport"
      "footer footer";
  }
}
