.card {
  font-family: $font-family-primary;
  color: $color-font-secondary;
  display: inline-block;
  background: $color-background-card;
  padding: 20px;
  width: 300px;
  margin: 10px;
  border: 1px solid transparent;
  transition: border 0.2s ease;

  &:hover {
    border: 1px solid #203dbd;
  }

  &__header {
    margin-bottom: 10px;
    h2 {
      line-height: 1.2;
      font-size: 1.2rem;
    }
  }

  &__content {
    margin-bottom: 10px;
    .img {
      img {
        width: 100%;
        height: auto;
      }
      @include img(auto, 160px, #282c34);
    }
  }
}
