.card {
  font-family: $font-family-primary;
  color: $color-font-secondary;
  display: inline-block;
  background: $color-background-card;
  padding: 20px;
  width: 300px;
  margin: 10px;
  border: 2px solid transparent;
  transition: 0.2s ease;
  border-radius: 2px;

  &:hover {
    border-top: 2px solid rgba($color: $color-primary, $alpha: 0.6);
    box-shadow: 0 4px 20px -5px rgba($color: #000000, $alpha: 0.4);
    transform: translateY(-3px);
  }

  &__header {
    margin-bottom: 10px;
    h2 {
      line-height: 1.2;
      font-size: 1.2rem;
    }
  }

  &__content {
    margin-bottom: 10px;
    .img {
      border-radius: 2px;
      img {
        width: 100%;
        height: auto;
      }
      @include img(auto, 160px, #282c34);
    }
  }
}
