.case {
  @extend %page;
  &__header {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border-primary;
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    &__info {
      @include flex($dir: column, $align: flex-start);
      &__links {
        width: 100%;
        a {
          text-align: center;
          line-height: 3;
          display: inline-block;
          width: 50%;
        }
        a:first-child {
          border-right: 1px solid $color-border-primary;
          @include media("md") {
            border: none;
          }
        }
      }
      @include media("md") {
        flex-direction: row;
        align-items: center;
        &__links {
          margin-left: auto;
          width: auto;

          a {
            line-height: 1;
            width: auto;
            margin-right: 20px;
          }
        }
      }
    }
  }
  &__content {
    section {
      margin-bottom: 60px;
    }
    h2 {
      font-size: 1.5rem;
      margin: 20px 0;
      color: $color-font-primary;
    }
    &__list {
      list-style-type: square;
      li {
        margin: 14px 20px;
      }
    }
    &__cards {
      @include flex($dir: column);
      @include media("lg") {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .card {
        width: 96%;
        margin-bottom: 30px;
        @include media("lg") {
          width: auto;
          margin-right: 50px;
          margin-bottom: 50px;
        }
      }
    }
  }
}
