$blue: #61afef;
$purple: #c678dd;
$green: #89c379;
$yellow: #e5c07b;
$white: #abb2a0;
$red: #e06c62;

.code {
  position: absolute;
  top: 5;
  bottom: 10;
  padding: 5px;
  overflow: hidden;
  height: 100%;
  .line {
    opacity: 0.2;
    display: inline-block;
    height: 12px;
    border-radius: 6px;
    margin: 4px;
    transition: 1s ease;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  @for $var from 1 through 5 {
    .w-#{$var} {
      width: #{$var * 2%};
    }
  }

  .blue {
    background: $blue;
  }
  .purple {
    background: $purple;
  }
  .green {
    background: $green;
  }
  .yellow {
    background: $yellow;
  }
  .white {
    background: $white;
  }
  .red {
    background: $red;
  }
}
