.content {
  height: calc(100vh - 107px);
  padding: 10px;
  position: relative;
  overflow-y: auto;
  width: 100vw;
  @include media("lg") {
    width: calc(100vw - 58px);
  }
  -webkit-overflow-scrolling: touch;
  color: $color-font-secondary;

  a {
    color: $color-font-link;
  }
}
