.footer {
  grid-area: footer;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  padding: 6px 14px;
  width: 100%;
  font-size: 0.75rem;
  background: $color-background-primary;
  color: $color-font-inverse;
  @include flex();
  .signal {
    color: #28a745;
  }

  &__right {
    display: none;
    margin-left: auto;
    .fa-react {
      color: #72ddfa;
    }

    @include media("md") {
      display: block;
    }
  }
}
