.header {
  background: $color-background-primary;
  width: 100%;
  padding: 10px;
  grid-area: header;
  @include flex();

  &__img {
    @include img(25px, 25px);
  }

  &__title {
    margin-left: 15px;
  }

  @include media("lg") {
  }
}
