.header {
  background: $color-background-primary;

  width: 100%;
  padding: 6px;
  grid-area: header;
  @include flex();

  &__img {
    @include img(20px, 20px);
  }

  &__title {
    display: inline-block;
    margin-left: 15px;
    color: $color-background-secondary;
  }
}
