.intro {
  font-family: $font-family-secondary;
  @include flex($just: center);
  height: 100%;

  &__content {
    @include flex($just: center);
    position: relative;
    z-index: 1000;
    &__img {
      @include roundy();
      @include img(200px, 200px);
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);
    }
    &__desc {
      margin-left: 30px;

      h1 {
        color: white;
        font-size: 2rem;
        text-shadow: 5px 5px 2px rgba($color: #000000, $alpha: 0.2);
      }

      a {
        display: block;
        margin: 6px 0;
      }
    }
  }
}
