.intro {
  font-family: $font-family-secondary;
  @include flex($just: center);
  height: 100%;

  &__content {
    @include flex($just: center);
    &__img {
      @include roundy();
      @include img(200px, 200px);
    }
    &__desc {
      margin-left: 30px;

      a {
        display: block;
        margin: 6px 0;
      }
    }
    h1 {
      font-size: 2rem;
    }
  }
}
