.nav {
  background: $color-background-primary;
  width: 100%;
  &__link {
    display: inline-block;
    padding: 14px;
    border-right: 1px solid #181a1f;

    &--active {
      background: $color-background-secondary;
    }
  }

  &__link:hover {
    background: $color-background-focus;
  }
}
