.portfolio {
  .section {
    &__header {
      h1 {
        color: white;
        font-size: 1.2rem;
        margin: 10px;
      }
    }
    &__content {
      @include flex($wrap: wrap);
    }
  }
}
