.sidebar {
  font-size: 1.6rem;
  height: 100%;
  background: $color-background-sidebar;
  color: $color-font-secondary;
  grid-area: sidebar;

  @include media("lg") {
    @include flex($dir: column);
  }

  &__setting {
    margin-top: auto;
  }

  &__icon {
    padding: 12px;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
