%page {
  position: relative;
  min-height: 80%;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.05);
  @include media("md") {
    width: 100%;
  }
  @include media("lg") {
    margin: auto;
    margin-bottom: 50px;
  }
}
