@mixin flex($dir: row, $wrap: nowrap, $just: flex-start, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin media($size) {
  @if $size == "md" {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == "lg" {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == "xl" {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @error "'#{$size}' is not valid $size argument";
  }
}

@mixin img($w: 50px, $h: 50px, $color: #007acc) {
  background: $color;
  width: $w;
  height: $h;
}

@mixin roundy($dia: auto) {
  overflow: hidden;
  width: $dia;
  min-width: $dia;
  height: $dia;
  border-radius: 50%;
}
