$font-family-primary: "Segoe UI", sans-serif;
$font-family-secondary: "Consola", sans-serif;

$color-background-primary: #21252b;
$color-background-secondary: #282c34;
$color-background-focus: #383b41;
$color-background-card: #20232a;

$color-primary: white;

$color-border-primary: #e0e0e0;
$color-border-secondary: #181a1f;

$color-font-primary: #99a0af;
$color-font-secondary: #abb2bf;

$breakpoint-md: 480px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1300px;

$body-min-width: 340px;

$box-shadow-lg: 0px 4px 20px
  rgba(
    $color: #000000,
    $alpha: 0.5
  );
