@font-face {
  font-family: Consola;
  src: url(../fonts/CONSOLA.TTF);
}
@font-face {
  font-family: Segoe UI;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: Segoe UI Italic;
  src: url(../fonts/segoeui_italic.ttf);
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: $color-background-secondary;
}

#root {
  font-family: $font-family-primary;
  color: $color-font-primary;
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-background-secondary;
  border-left: 1px solid #474a4f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b414d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414855;
}
