@font-face {
  font-family: Consola;
  src: url(../fonts/CONSOLA.TTF);
}
@font-face {
  font-family: Segoe UI;
  src: url(../fonts/segoeui.ttf);
}

body {
  min-width: $body-min-width;
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

em {
  display: inline-block;
  padding: 0 6px;
  background: $color-background-code;
  font-family: $font-family-secondary;
}

.fa,
.fab,
.fas,
.far {
  margin-right: 5px;
}

#root {
  font-family: $font-family-primary;
  color: $color-font-primary;
}

::-webkit-scrollbar {
  width: 16px;
}

// light theme
/* Track */
::-webkit-scrollbar-track {
  background: $color-background-secondary;
  border-left: 1px solid $color-border-primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-border-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color-border-primary, 5%);
}

// dark theme
// /* Track */
// ::-webkit-scrollbar-track {
//   background: $color-background-secondary;
//   border-left: 1px solid #474a4f;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #3b414d;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #414855;
// }
