html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Consola;
  src: url(../fonts/CONSOLA.TTF);
}
@font-face {
  font-family: Segoe UI;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: Segoe UI Italic;
  src: url(../fonts/segoeui_italic.ttf);
}
* {
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #282c34;
}

#root {
  font-family: "Segoe UI", sans-serif;
  color: #99a0af;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header" "sidebar viewport" "footer footer";
}

.header {
  background: #21252b;
  width: 100%;
  padding: 6px;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.header__img {
  background: #007acc;
  width: 20px;
  height: 20px;
}
.header__title {
  margin-left: 15px;
}
.nav {
  background: #21252b;
  width: 100%;
}
.nav__link {
  display: inline-block;
  padding: 14px;
  border-right: 1px solid #181a1f;
}
.nav__link:hover {
  background: #383b41;
}
.nav__link--active {
  color: white;
  background: #282c34;
}
.nav__link--active:hover {
  background: #282c34;
}
.nav__link .fa-js-square {
  color: orange;
}
.nav__link .fa-file-code {
  color: #69c673;
}
.nav__link span {
  display: inline-block;
  margin-left: 8px;
}

.viewport {
  grid-area: viewport;
}
@media (min-width: 900px) {
  .viewport {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.content {
  flex: 1;
  width: 100%;
  padding: 10px;
  position: relative;
  color: #abb2bf;
}
.content a {
  color: #528bff;
}

.footer {
  grid-area: footer;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  padding: 6px 14px;
  width: 100%;
  font-size: 0.75rem;
  background: #21252b;
}
.footer .signal {
  color: #28a745;
}

.card {
  font-family: "Consola", sans-serif;
  display: inline-block;
  background: #20232a;
  padding: 20px;
}
.card__header h1 {
  font-size: 2rem;
}

.sidebar {
  font-size: 1.6rem;
  height: 100%;
  background: #333842;
  color: #abb2bf;
  grid-area: sidebar;
}
@media (min-width: 900px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.sidebar__setting {
  margin-top: auto;
}
.sidebar__icon {
  padding: 12px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.sidebar__icon:hover {
  opacity: 1;
}

.intro {
  font-family: "Consola", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}
.intro__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.intro__content__img {
  overflow: hidden;
  width: auto;
  min-width: auto;
  height: auto;
  border-radius: 50%;
  background: #007acc;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.intro__content__desc {
  margin-left: 30px;
}
.intro__content__desc h1 {
  color: white;
  font-size: 2rem;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.intro__content__desc a {
  display: block;
  margin: 6px 0;
}

.code {
  position: absolute;
  top: 5;
  bottom: 10;
  overflow: hidden;
  height: 100%;
}
.code .line {
  opacity: 0.1;
  display: inline-block;
  height: 12px;
  border-radius: 6px;
  margin: 4px;
  transition: 1s ease;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.code .w-1 {
  width: 2%;
}
.code .w-2 {
  width: 4%;
}
.code .w-3 {
  width: 6%;
}
.code .w-4 {
  width: 8%;
}
.code .w-5 {
  width: 10%;
}
.code .blue {
  background: #61afef;
}
.code .purple {
  background: #c678dd;
}
.code .green {
  background: #89c379;
}
.code .yellow {
  background: #e5c07b;
}
.code .white {
  background: #abb2a0;
}
.code .red {
  background: #e06c62;
}

/*# sourceMappingURL=index.css.map */
