.card {
  font-family: $font-family-primary;
  color: $color-font-secondary;
  display: inline-block;
  vertical-align: top;
  background: $color-background-card;
  overflow: hidden;
  margin: 0 10px 10px 0;
  transition: 0.2s ease;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);

  width: 90vw;
  @include media("md") {
    width: 80vw;
  }
  @include media("lg") {
    width: calc((100vw - 58px) / 2 - 60px);
  }
  @include media("xl") {
    width: calc((100vw - 58px) / 3 - 90px);
  }

  &--interactable {
    &:hover {
      box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2),
        0 2px 8px 4px rgba(60, 64, 67, 0.1);
      transform: translateY(-3px);
    }
  }

  &__header {
    h2 {
      font-size: 1.2rem;
      margin: 14px 0;
      line-height: 1.2;
      border-left: 4px solid $color-primary;
      padding-left: 10px;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    &__img {
      position: relative;
      overflow: hidden;
      @include flex($just: center);
      img {
        width: 100%;
        height: auto;
      }
    }
    &__ribbon {
      display: none;
      position: absolute;
      text-align: center;
      right: -50px;
      top: 20px;
      background: rgba($color: $color-background-focus, $alpha: 0.9);
      color: white;
      padding: 10px 50px;
      transform: rotate(45deg);

      @include media("md") {
        display: block;
      }

      &--Personal {
        background: rgba($color: $color-primary, $alpha: 0.9);
      }
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    color: $color-font-primary;
    border-top: 1px solid $color-border-primary;
    h2 {
      font-size: 1.2rem;
    }
  }
  .pills {
    margin-top: 16px;
  }
}

.link-card {
  margin: 10px;
}
