i.colored {
  margin-right: 18px;

  &.fa-react {
    color: #72ddfa;
  }
  &.fa-js-square {
    color: #f5dc4e;
  }
  &.fa-html5 {
    color: #ef652a;
  }
  &.fa-css3-alt {
    color: #33a9dc;
  }
  &.fa-node-js {
    color: #026e00;
  }
}
