.pill {
  color: white;
  border-radius: 16px;
  font-size: 12px;
  padding: 6px 12px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
  margin-right: 12px;
  margin-bottom: 12px;
  opacity: 1;
  &-js {
    background: #f5dc4e;
  }
  &-sass {
    background: #c86398;
  }
  &-react {
    background: #72ddfa;
  }
  &-redux {
    background: #754cb9;
  }
  &-bootstrap {
    background: #553d7b;
  }
  &-backbone {
    background: #2274b3;
  }
  &-asp {
    background: #2d336c;
  }
  &-chartjs {
    background: #f86f7d;
  }
  &-jquery {
    background: #0769ad;
  }
  &-mysql {
    background: #f39112;
  }
}
